VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
VITE_N8N_URL=""
VITE_N8N_API_KEY=""
VITE_N8N_WEBHOOK_URL=""
VITE_CHATWOOT_URL=""
VITE_CHATWOOT_TOKEN=""
VITE_CHATWOOT_ACCOUNT=""
VITE_EVOLUTION_URL=""
VITE_EVOLUTION_API_KEY=""
VITE_EVOLUTION_INSTANCE=""
